
<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-3.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Karen Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>

<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-2.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Hownd Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>


<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-3.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Karen Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>

<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-2.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Hownd Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>


<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-3.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Karen Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>

<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-2.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Hownd Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>


<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-3.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Karen Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>

<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-2.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Hownd Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>


<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-3.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Karen Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>

<a class="sidebar-contact">
  <div class="sidebar-contact__avatar-wrapper">
    <img src="assets/images/profile-picture-girl-2.jpeg" alt="" class="avatar" />
  </div>
  <div class="sidebar-contact__content">
    <div class="sidebar-contact__top-content">
      <h2 class="sidebar-contact__name">Hownd Okonkwo</h2>
      <span class="sidebar-contact__time">05:00</span>
    </div>
    <div class="sidebar-contact__bottom-content">
      <p class="sidebar-contact__message-wrapper">
        <svg-icon src="assets/icons/double-tick.svg" svgClass="icon-class"></svg-icon>
        <span class="sidebar-contact__message">The green tea and avocado smoothie turned </span>
      </p>
      <div class="sidebar-contact__icons">
        <span class="sidebar-contact__unread">3</span>

        <button aria-label="sidebar-contact__btn">
          <svg-icon src="assets/icons/down-arrow.svg" svgClass="icon-class" id="downArrow" class="sidebar-contact__icon sidebar-contact__icon--dropdown"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</a>

